@import url(icons.css);
@font-face {
  font-family: "Lato";
  src: url("Lato.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("Poppins.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 600;
  font-family: Poppin;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --color1: #3c5063;
  --color2: #fa4a4d;
  --padrao: #ffc10e;
  --color4: #3db9ec;
  --color5: #388e3c;
  --color6: #222332;
  --color7: #1a1b1e;
  --atual: #fff;
  background: #eee;
  overflow-x: hidden;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

header {
  width: 100%;
  padding: 2rem;
  background: var(--color6);
}

header h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

header .social {
  padding: 1rem;
}

header .social a {
  color: #eee;
  cursor: pointer;
  margin: 0 .3rem;
  font-size: 1.2rem;
}

header .social a:hover {
  color: var(--padrao);
}

section {
  padding: 2rem;
}

section .painel-msg {
  width: 100%;
  height: 80vh;
  padding: 2rem;
}

section .painel-msg .enveloper {
  margin: 0 auto;
  text-align: center;
}

section .painel-msg .enveloper i {
  font-size: 6rem;
  margin-block: 2rem;
}

section .item {
  right: 0px;
  bottom: 0px;
  height: 88%;
  width: 150px;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}

section .item .items {
  top: 0px;
  right: 0px;
  height: 80.8vh;
  padding: 1rem;
  position: absolute;
}

section .item .items div {
  width: 35px;
  height: 35px;
  padding: .5rem;
  cursor: pointer;
  color: #1a1b1e;
  font-weight: 900;
  text-align: center;
  border-radius: 50%;
  margin-block: 1rem;
  justify-content: center;
  border: 3px solid var(--cor);
}

section .item .adicionar {
  right: 0rem;
  bottom: 2.5rem;
  height: 145px;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}

section .item .adicionar div {
  width: 125px;
  cursor: pointer;
  position: relative;
  margin-block: .3rem;
  transform: translateY(100vh);
  transition: transform .5s ease-out;
}

section .item .adicionar div span {
  right: -8px;
  font-size: .92rem;
  font-weight: 900;
  border-radius: 5px;
  position: relative;
  padding: .1rem 0px;
  text-transform: lowercase;
}

section .item .adicionar div i {
  width: 40px;
  height: 40px;
  flex-flow: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--padrao);
}

section .item .adicionar div:last-child {
  display: flex;
  transform: translateY(0px);
}

section .item .adicionar:hover {
  height: 145px;
}

section .item .adicionar:hover div {
  display: flex !important;
  transform: translateY(0px);
  transition: transform 0.3s ease-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.fc {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  z-index: 1;
  width: 35%;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background: #222332;
}

@media (max-width: 991px) {
  .formulario {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .formulario {
    width: 80%;
  }
}

.formulario h3 {
  color: #fff;
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: Poppin !important;
}

.formulario div {
  width: 100%;
  margin-block: 1rem;
  border-radius: 3px;
  background: var(--atual);
}

.formulario div input {
  width: 100%;
  border: none;
  outline: none;
  padding: .5rem;
  background: transparent;
}

.formulario button {
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 400;
  border-radius: .5rem;
  padding: .8rem 1.5rem;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid var(--atual);
}

.formulario button:hover {
  color: #eee;
  background: var(--color6);
}

.form-agenda {
  display: none;
}

.screen {
  z-index: 0;
  inset: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.screen::before {
  z-index: 0;
  inset: 0px;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}
