@import url(icons.css);
@font-face 
{
    font-family: "Lato";
    src: url("Lato.ttf");
}
*{  
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: 600;
    font-family: Lato;
    word-break: keep-all;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{    --color1: #3c5063;
    --color2: #fa4a4d;
    --padrao: #ffc10e;
    --color4: #3db9ec;
    --color5: #388e3c;
    --color6: #222332;
    --color7: #1a1b1e;
    --atual : #fff;

    background: #eee;
    overflow-x: hidden;	
}
	
	
::scrollbar  { width: 0px!important}
*::scrollbar   { width: 0px!important}
*::-webkit-scrollbar  { width: 0px!important}
*::-moz-scrollbar  { width: 0px!important}
*::-ms-scrollbar  { width: 0px!important}
*::-moz-osx-scrollbar { width: 0px!important}
*::-o-scrollbar { width: 0px!important}




header
{
    width: 100%;
    padding: 2rem;
    background: var(--color6);

    h3
    {
        color: #fff;
        font-size: 2rem;
        font-weight: 900; 
    }

    ul
    {
        li
        {
            color: #fff;
            margin: 0 1rem;
            cursor: pointer;
            font-weight: 500;
            position: relative;
            display: inline-block;

            &:hover
            {
                color: var(--padrao);

                ul
                {
                    display: block;
                }
            }

            ul
            {
                display: none;
                position: absolute;
                padding: 1rem .9rem;
                background: #222332;

                li
                {
                    display: block;
                    margin: 1rem 0;
                }
            }
        }
    }
}

section
{
    padding: 2rem;

    .painel-msg
    {
        width: 80%;
        height: 80vh;
        padding: 2rem;

        .enveloper
        {
            margin: 0 auto;
            text-align: center;


            i
            {
                font-size: 6rem;
                margin-block: 2rem;
            }
        }
        
    }

    .item
    {
        right: 0px;
        width: 70px;
        bottom: 0px;
        height: 88%;
        background: #fff;
        position: absolute;
        align-items: flex-end;
        justify-content: center;
        
        .items
        {
            top: 0px;
            right: 0px;
            height: 80.8vh;
            padding: 1rem;
            position: absolute;
    
            div
            {
                width: 35px;
                height: 35px;
                padding: .5rem;
                cursor: pointer;
                color: #1a1b1e;
                font-weight: 900;
                text-align: center;
                border-radius: 50%;
                margin-block: 1rem;
                justify-content: center;
                border: 3px solid var(--cor);
            }
        }
        .adicionar
        {
            right: 0px;
            width: 40px;
            height: 40px;
            bottom: 2rem;
            cursor: pointer;
            border-radius: 50%;
            position: relative;
            background: orange;
            justify-content: center;
        }
    }
}


.flex
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.flex-centro
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.formulario
{
    z-index: 1;
    width: 35%;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background: #222332;

    @media (max-width: 991px) {
        width: 50%;
    }

    @media (max-width: 768px) {
        width: 80%;
    }

    h3
    {
        color: #fff;
        padding: 1rem;
        font-weight: 600;
        text-align: center;
    }
    div
    {
        width: 100%;
        margin-block: 2rem;
        border-radius: 3px;
        background: var(--atual);

        input
        {
            width: 100%;
            border: none;
            outline: none;
            padding: .5rem;
            background: transparent;
        }
    }
    button
    {
        cursor: pointer;
        padding: .5rem;
        margin: 0 auto;
    }
}



.screen
{
    z-index: 0;
    inset: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    flex-flow: column;
    justify-content: center;

    &::before
    {
        z-index: 0;
        inset: 0px;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, .5);
    }
    &.on
    {
        display: block;
    }
}